<div class="dialog">
  <h1>Editar Transacción:</h1>
  <form [formGroup]="form" autocomplete="off">
    <mat-form-field appearance="fill">
      <mat-label>Concepto</mat-label>
      <input matInput formControlName="concepto" required />
      <mat-error *ngIf="validatorsService.noValidField('concepto', form)">{{
        validatorsService.getErrorMessage("concepto", form)
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Valor</mat-label>
      <input matInput type="number" formControlName="valor" required />
      <mat-error *ngIf="validatorsService.noValidField('valor', form)">{{
        validatorsService.getErrorMessage("valor", form)
      }}</mat-error>
    </mat-form-field>
  </form>
  <h4><strong>¿Desea Continuar?</strong></h4>
  <div class="buttons">
    <button
      mat-fab
      class="edit-button"
      [disabled]="disableEdit()"
      (click)="editTransaction()"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-fab color="basic" (click)="close()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</div>
