<mat-card>
  <mat-card-header>
    <mat-card-title>Transacciones</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field *ngIf="transactions.length > 0">
      <mat-label>Filtro</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        [(ngModel)]="inputFilter"
        placeholder="Ejemplo: egreso"
      />
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        *ngIf="transactions.length > 0; else noTransactions"
      >
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>
        <!-- Fecha Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
          <td mat-cell *matCellDef="let row">
            {{ row.fecha | date: "short" }}
          </td>
        </ng-container>

        <!-- Concepto Column -->
        <ng-container matColumnDef="concepto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Concepto</th>
          <td mat-cell *matCellDef="let row">{{ row.concepto }}</td>
        </ng-container>

        <!-- Tipo Column -->
        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
          <td mat-cell *matCellDef="let row">{{ row.tipo | titlecase }}</td>
        </ng-container>

        <!-- Valor Column -->
        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
          <td mat-cell *matCellDef="let row">
            <strong>{{ row.valor | currency: "ARS" }}</strong>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="selectRow(row)"
        ></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No hay datos con el filtro "{{ inputFilter }}"
          </td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
    </div>
    <div class="button-div">
      <button mat-raised-button color="primary" routerLink="/transactions/add">
        <mat-icon>add</mat-icon> Nueva Transacción
      </button>
      <button
        mat-raised-button
        color="warn"
        *ngIf="this.selection.selected.length > 0"
        (click)="delete()"
      >
        <mat-icon>delete</mat-icon> Eliminar
      </button>
      <button
        mat-raised-button
        class="edit-button"
        *ngIf="this.selection.selected.length === 1"
        (click)="edit()"
      >
        <mat-icon>edit</mat-icon> Editar
      </button>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #noTransactions>
  <p class="template-p">No hay transacciones realizadas hasta el momento.</p>
</ng-template>
