a {
  text-decoration: none;
}
mat-toolbar {
  background: linear-gradient(to right, #3f51b5, #6953ba);
  color: white;
}
#app-title {
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-left: 20px;
}
#sidenav-title {
  display: block;
  margin: 0 auto;
}
.active {
  background: rgba(0, 0, 0, 0.04);
}
.menu-option {
  padding: 4px;
}
.bienvenida {
  margin-right: 20px !important;
  font-size: 14px;
}
